.auth_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}
.auth_header {
  position: absolute;
  left: 1rem;
  top: 1rem;
}
.auth_header > h2 {
  font-size: 1.5rem;
  color: rgb(142, 75, 205);
}
.auth_sub_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.auth_sub_container > input {
  max-width: 100px;
}
.auth_form {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0px 10px 10px rgba(236, 109, 109, 0.4);
  position: relative;
}
.auth_input {
  width: 100%;
  max-width: 230px;
  margin: 1rem auto;
  padding: 10px;
  font-weight: 500;
}
.auth_icon {
  position: absolute;
  right: 4.5rem;
  bottom: 10.3rem;
  font-size: 2rem;
  cursor: pointer;
  color: blueviolet;
}
.auth_icon_signup {
  position: absolute;
  right: 4.5rem;
  bottom: 15.9rem;
  font-size: 2rem;
  cursor: pointer;
  color: blueviolet;
}
.auth_button_container {
  width: 100%;
}
.auth_button {
  width: 100%;
  margin: 0.5rem auto;
  padding: 10px 0;
  color: white;
  background-color: blueviolet;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
