.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quote {
  font-size: 25px;
  font-weight: lighter !important;
  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-weight: 800;
  width: 50%;
}

.author {
  font-size: 20px;
  font-style: italic;
  text-align: center;
  color: white;
  font-weight: 800;
}

.qote_button {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: large;
  transition: background-color 0.5s ease-in-out;
}
.qote_button:hover {
  opacity: 80%;
  transition: all;
}
.greeting {
  font-size: 3rem;
  color: white;
}
